@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');

* {
  box-sizing: border-box;
  text-align: center;
  font-family: 'ZCOOL QingKe HuangYou', sans-serif;
}

h1 {
  margin: 50px auto;
}

.wrapper {
  width: 300px;
  margin: auto;
  background-color: rgb(41, 71, 79);
  padding: 1rem;
  border-radius: 10px;
}

.screen {
  display: flex;
  height: 70px;
  background-color: rgb(0, 168, 143);
  margin-bottom: 1rem;
  padding: 1rem;
  font-family: 'ZCOOL QingKe HuangYou', sans-serif;
  font-size: 40px;
  justify-content: end;
  align-items: center;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
  font-size: 40px;
}

.buttons button {
  padding: 10px;
  font-size: 20px;
  border-radius: 3px;
}

.buttons button:hover {
  background-color: #dbdbdb;
}

#equal {
  grid-column: span 2;
}
